body{
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

nav{
    background-color:cadetblue !important;
    text-align: center !important;
}

.navbar{
    display: flex !important;
    flex-flow: row wrap !important;
    padding: 0 !important;
    margin: 0 auto !important;
    width: 80% !important;
    justify-content: flex-start !important;
}

.nav-item{
    list-style-type: none !important;
}

.nav-item > a{
    display: inline-block !important;
    text-decoration: none !important;
    color: white !important;
    padding: 15px !important;
}

.nav-item > a:hover{
    background-color: rgb(75, 185, 189) !important;
}


